<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 公開済の記事数: <%= @published_article_all %>件 </p>
    <% if @published_yesterday > 0 %>
      <p> 昨日公開された記事数: <%= @published_yesterday %>件 </p>
      <% @article_titles.each do |title| %>
        <p> タイトル: <%= title %> </p>
      <% end %>
    <% else %>
      <p> 昨日公開された記事はありません </p>
    <% end %>
  </body>
</html>